.Chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  margin: auto;
  width: 70%;
  border-radius: 10px;
}

.App-header {
  margin: 30px 0px;
  padding: 0px 30px;
  overflow: visible;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.Messages-list {
  padding: 20px 0;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}
.avatar div {
  text-align: center;
  margin-top: 5px;
  color: white;
  text-transform: uppercase;
  border-bottom: 2px solid #6f6f6f7c;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 14px;
  padding-bottom: 4px;
}

.Message-content > .text {
  padding: 10px;
  max-width: 400px;
  margin: 0;
  border-radius: 11px;
  background-color: cornflowerblue;
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  background-color: #381d6174;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 16px;

  border: 1px solid #dfe1f0;
  width: 55%;
  background: #f6f7ff;
  flex-grow: 1;
}

input button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #6f6f6f;
  color: white;
  border: none;
}
button:hover {
  color: white;
}
.btn-send {
  color: white;
  background: #4a4ce5f5;
  width: 7rem;
  border-radius: 3px;
  margin-left: 10px;
  border: none !important;
}

.roundbtn {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-transform: uppercase;
  background-color: #4a4ce5f5;
  border: none !important;
  color: white;
  font-size: 27px;
}
.wrap-one {
  margin-top: 50px;
}
.wrap-one h1 {
  color: black;
  font-size: 60px !important;
  text-align: center;
}
.wrapper {
  margin: 0px 200px;
  color: black;
  margin-top: 200px;
  text-align: center;
  display: flex;
  gap: 200px;
  justify-content: center;
}
.wrapper img {
  margin-bottom: 30px;
}
