.Chat {
  background-color: rgba(255, 255, 255, 0.165);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90vh;
  margin: 0 auto 50px;
  border: 1px solid #6f6f6f47;
  border-radius: 5px;
  width: 60%;
  box-shadow: 0px 0px 1000px 30px #230134;
}

.App-header {
  margin: auto;

  overflow: visible;
  transform: translateY(100px);
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.Messages-list {
  padding: 150px 50px 20px;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  padding-left: 0;
  flex-grow: 1;
  overflow: auto;
}

.Messages-message {
  display: flex;
  margin-top: 10px;
}

.Messages-message.currentMember {
  /*justify-content: flex-end;*/
  flex-direction: row-reverse;
  text-align: right;
}

.Message-content {
  display: inline-block;
}

.currentMember > .Message-content {
  align-items: flex-end;
}

.Messages-message > .avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  display: inline-block;
  margin: 0 10px -10px;
}
.avatar div {
  text-align: center;
  margin-top: 5px;
  color: white;
  text-transform: uppercase;
  border-bottom: 2px solid #6f6f6f7c;
  border-radius: 50%;
  height: 35px;
  width: 35px;
}

.Message-content > .username {
  display: block;
  color: gray;
  font-size: 10px;
  padding-bottom: 4px;
  padding-top: 10px;
}

.Message-content > .text {
  padding: 6px;
  font-size: 14px;
  max-width: 400px;
  margin: 0;
  border-radius: 5px;
  background-color: rgba(100, 148, 237, 0.722);
  color: white;
  display: inline-block;
}

.currentMember > .Message-content .text {
  padding: 6px;
  font-size: 14px;
  background-color: #4a4de59e;
  color: white;
}

form {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 900px;
  margin: 0 auto 40px;
}

input {
  padding: 5px;
  font-size: 16px;

  border: 1px solid #dfe1f0;
  width: 55%;
  background: #f6f7ff;
  flex-grow: 1;
}

input button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #6f6f6f;
  color: white;
  border: none;
}
button {
  border: none;
}
button:hover {
  color: white;
}
.btn-send {
  color: white;
  background: #4a4ce5f5;
  width: 7rem;
  border-radius: 3px;
  margin-left: 10px;
  border: none !important;
}
.txt p,
h2,
button {
  position: relative;
  z-index: 1;
  margin: 20px 15%;
}
.txt button {
  float: right;
  margin-top: 10px;
  margin-right: 300px;
  color: white;
  background: #4a4ce5f5;
  width: 9rem;
  padding: 5px 0;
  border-radius: 3px;
  margin-left: 10px;
  border: none !important;
}
.txt button:hover {
  background-color: purple;
}
.txt h2 {
  margin-top: 50px;
  text-transform: uppercase;
}
section {
  margin: auto;
  background-color: #928c9ce2;
}
.image {
  height: 380px;
  background-color: cover;
  background-attachment: fixed;
  background-position: center;
  background-image: url("/src/components/2019-Purple-Abstract-4K-HD-Design-Wallpaper-1920x1080-10wallpaper.com.jpg");
}
.txt {
  justify-content: center;
  width: 80%;
  height: 50vh;
  background: #6f6f6f;
  position: relative;
}
.txt::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 150%;
  height: 125%;
  background: #ffffff;
  rotate: -3deg;
  translate: -50% -50%;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    flex-direction: column;
    margin: 30px 30px;
    justify-content: center;
    gap: 20px;
  }
  .App {
    height: none;
  }
  .container {
    width: 100% !important;
  }
}
.dropbtn {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  text-transform: uppercase;
  background-color: #4a4ce5f5;
  border: none !important;
  color: white;
  font-size: 27px;
  transform: translateX(-6px);
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  color: none;
  width: 55px;
  height: 55px;
  background-color: #4a4ce5f5;
}

.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 5px;
  transform: translateX(-250px);
  border-radius: 5px;
  border: 3px solid rgba(128, 128, 128, 0.144);
  background-color: #f1f1f1;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.318);
  z-index: 1;
}

.dropdown-content a {
  font-size: 20px;
  color: black;
  padding: 12px 16px;
  text-decoration: none !important;
  list-style-type: none;
  border-bottom: 2px solid #e5e8ec;
  display: block;
  text-transform: none !important;
}

.dropdown-content a:hover {
  color: #23013479;
  background-color: rgba(128, 128, 128, 0.144);
  border-bottom: 2px solid #6f6f6f7c;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.headerbtn {
  margin: 10px 0px;
  background-color: rgba(227, 21, 21, 0.784);
  color: white;
  padding: 1px 20px;
  border-radius: 3px;
  font-size: 25px;
}
.headerbtn:hover {
  background-color: #4c0a6dd3;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}
input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 1001;
  height: 100%;
  width: 100%;
  top: 12px;
  left: 15px;
  height: 22px;
  width: 22px;
  margin-left: 340px;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: white;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: right;
  margin-top: 3px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: right;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: right;
  margin-top: 3px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 9px;
}

input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -9px;
}
