.login-form {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 1000px 100px #230134;
  border-radius: 10px;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
.login-form > * {
  margin-top: 4rem;
}
.login-btn {
  padding: 5px;
  color: white;
  background: #4a4ce5f5;
  margin-bottom: 4rem;
  width: 8rem;
  border-radius: 3px;
  border: none !important;
}
.login-btn:hover {
  color: white;
  background-color: purple;
  transition: background-color 2s;
}
.container {
  height: 20vh;
  width: 25%;
}
input::placeholder {
  font-size: 13px;
  color: #6f6f6f7c;
}
input[type="text"]:focus {
  outline: 1px solid #928c9ce2;
}
